/* Side bar styles */

.sidebar-container {
    @apply hidden md:w-[150px] lg:w-[250px] border-r h-screen md:flex flex-col
}

.sidebar-container .header {
    @apply h-[50px] px-5 pt-5
}

.sidebar-container .header img {
    @apply w-[45px] h-[45px]
}

.sidebar-container .links {
    @apply flex flex-col mx-5 mt-10
}

.sidebar-container .links .nav-links {
@apply mt-5 flex items-center md:justify-center lg:justify-start gap-3 h-[40px] px-2 rounded-md 
}

.wind-link {
    @apply flex flex-row  items-center gap-3
}

.sidebar-container .links .nav-links.active {
    @apply bg-grey bg-opacity-10 transition-all duration-700 ease-in-out
}

.sidebar-container .links .nav-links i {
    @apply text-f16
}

.sidebar-container .logout-btn {
    @apply max-w-[200px] mx-auto mt-[50px] 
}

.sidebar-container .logout-btn button {
    @apply md:w-[50px] lg:w-[200px] h-[40px] bg-red text-[#fff] rounded flex items-center justify-center gap-3
}

.bottom-nav {
    @apply flex flex-row items-center justify-between sticky w-[90%] mx-auto left-0 bg-[#eee9e9] h-[60px] px-3 rounded-xl
}


/* Board */
.board-header {
    @apply text-grey text-f20
}

.dashboard-container {
    /* @apply flex flex-row flex-wrap lg:justify-between gap-5 */
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6
}

.dashboard-container .dashboard-wrapper {
    @apply w-full md:w-[200px] h-[150px] md:h-[100px] px-5 py-3 rounded border border-[#fff] text-[#fff] flex flex-col justify-between
}

.dashboard-container .dashboard-wrapper:nth-child(1) {
    @apply bg-gradient-to-tr from-pink to-[#f78cb8] 
}

.dashboard-container .dashboard-wrapper:nth-child(2) {
    @apply bg-gradient-to-tr from-[#7142f3] to-[#a98cf7] 
}

.dashboard-container .dashboard-wrapper:nth-child(3) {
    @apply bg-gradient-to-tr from-[#279230] to-[#8cf7ac] 
}

.dashboard-container .dashboard-wrapper:nth-child(4) {
    @apply bg-gradient-to-tr from-[#892792] to-[#f78ce5] 
}

.dashboard-container .dashboard-wrapper:nth-child(5) {
    @apply bg-gradient-to-tr from-[#276792] to-[#8cd9f7] 
}

.dashboard-container .dashboard-wrapper:nth-child(6) {
    @apply bg-gradient-to-tr from-blue to-pink 
}

.dashboard-container .dashboard-content {
    @apply flex items-center justify-between
}

.dashboard-container .dashboard-wrapper h4, .dashboard-container .dashboard-wrapper h2 {
    @apply text-[#fff]
}

.dashboard-container .dashboard-wrapper h2 {
    @apply text-f40 md:text-f25
}

.dashboard-container .dashboard-wrapper .dashboard-content i.dashboard-icon {
    @apply text-f40 md:text-f25
}





.custom-image{
    filter:opacity(60%);
    height: 25px;
    width: 20px;
}

.product-infomation::-webkit-scrollbar, .preview::-webkit-scrollbar {
    @apply w-[2px] 
}

.product-infomation::-webkit-scrollbar-thumb, .preview::-webkit-scrollbar-thumb {
    @apply bg-grey bg-opacity-20 rounded-full 
}

.product-infomation, .preview {
    @apply w-[100%] lg:w-[50%] h-[350px] border overflow-y-scroll py-3
}

.product-infomation .product-information-wrapper {
    @apply max-w-[85%] md:max-w-[75%] mx-auto
}

.product-infomation .product-information-wrapper div.text-details div form div input, 
.product-infomation .product-information-wrapper div.text-details div form div select, 
.product-infomation .product-information-wrapper div.text-details div form div textarea  {
    @apply border outline-none h-[30px] w-[300px] md:w-[400px] px-3 rounded-md
}

.preview-container {
    @apply w-[300px] md:w-[400px] h-[200px] rounded-md border
}

.preview-container img {
    @apply w-full h-full object-contain
}

.product-page table {
    @apply w-full mt-5
}

.product-page table thead tr {
    @apply border w-[100%]
}

.product-page table thead tr th, .product-page table tbody tr td {
    @apply border-r w-[150px] text-center py-2
}

.product-page table tbody tr td {
    @apply border-none
}

.product-page table tbody tr:nth-child(even) {
    @apply bg-grey bg-opacity-5
}

.product-page table tbody tr td ul {
    @apply flex flex-col md:flex-row
}

.product-page table tbody tr td ul li {
    @apply cursor-pointer
}

/* ----------  Blog Style Start here ---------- */
.blogs-container {
    @apply relative
}

.blogs-container .lead-top {
    @apply w-full flex flex-row items-center justify-between
}

.blogs-container .lead-top input {
    @apply border outline-none w-[170px] md:w-[250px] h-[30px] rounded-full px-2 text-f10
}

.blogs-container .lead-top button.parent {
    @apply bg-green-500 text-[#fff] w-[30px] md:w-[100px] h-[30px] rounded 
}

.blogs-container .lead-top button.child {
    @apply border text-grey w-[100px] h-[30px] rounded 
}

.blogs-container .slide-board {
    @apply  mt-2  border-t p-5
}

.blogs-container .slide-board .show-posted-blogs {
    @apply flex flex-row flex-wrap gap-2 mt-2 h-[420px] overflow-y-scroll
}

.blogs-container .slide-board .show-posted-blogs::-webkit-scrollbar {
    @apply w-[5px]
}

.blogs-container .slide-board .show-posted-blogs::-webkit-scrollbar-thumb {
    @apply bg-[#d3d2d298] rounded-full
}

.blogs-container .slide-board .show-posted-blogs .blog-wrapper {
    @apply w-full md:w-[49%] lg:w-[24%] relative overflow-hidden
}

.blogs-container .slide-board .show-posted-blogs .blog-wrapper .overlay {
    @apply w-full h-[16%] absolute bottom-0 bg-blue text-[#fff] bg-opacity-40 rounded-md transition-all duration-500 ease-in-out
}

.blogs-container .slide-board .show-posted-blogs .blog-wrapper img {
    @apply  h-[250px] w-full rounded-md relative
}

.blogs-container .slide-board .show-posted-blogs .blog-wrapper .the-blog-contents {
    @apply   px-2 text-white 
} 

.blogs-container .slide-board .show-posted-blogs .blog-wrapper .overlay .the-blog-contents h2 {
    @apply text-f14 text-white
}

.blogs-container .slide-board .show-posted-blogs .blog-wrapper .server-action {
    @apply flex items-center justify-between gap-2 absolute top-0  left-0 z-50 bg-blue bg-opacity-70 w-full h-[30px] ;
    @apply text-f14 opacity-0 transition-opacity duration-500 ease-in-out rounded-md px-3
}

.blogs-container .slide-board .show-posted-blogs .blog-wrapper .server-action i{
    @apply cursor-pointer
}

.blogs-container .slide-board .show-posted-blogs .blog-wrapper .server-action i:nth-child(odd) {
    @apply text-green-500
}

.blogs-container .slide-board .show-posted-blogs .blog-wrapper .server-action i:nth-child(even) {
    @apply text-rose-500
}

.blogs-container .slide-board .show-posted-blogs .blog-wrapper .overlay .the-blog-contents button {
    @apply bg-[#b6b6b6] text-white text-f10 w-full h-[30px] rounded-sm mt-3
}

.blogs-container .slide-board .show-posted-blogs .blog-wrapper img:hover + .overlay, .blogs-container .slide-board .show-posted-blogs .blog-wrapper .overlay:hover{
    @apply  h-[50%]
    
}

.blogs-container .slide-board .show-posted-blogs .blog-wrapper img:hover + .server-action, .blogs-container .slide-board .show-posted-blogs .blog-wrapper .server-action:hover {
   @apply opacity-100
}

/* ---------- {New Post Style} ---------- */

.new-post-container .blog-details-wrapper {
    @apply mb-3
}

.new-post-container .blog-details-wrapper button.post-btn {
    @apply bg-green-700 text-[#fff] w-[150px] h-[30px] rounded mt-5 md:mt-0
}

.new-post-container .blog-details-wrapper button.btn-disable {
    @apply bg-opacity-40
}

.new-post-container .blog-details-wrapper .blog-details {
    @apply flex flex-col md:flex-row items-center justify-center md:justify-between
}

.new-post-container .blog-details-wrapper .blog-details .details {
    @apply  w-full md:w-[40%] h-[200px] flex flex-col
}

.new-post-container .blog-details-wrapper .blog-details .details .field {
    @apply relative
}

.new-post-container .blog-details-wrapper .blog-details .details .field i {
    @apply absolute top-[20%] left-0 translate-y-[-20%] 
}

.new-post-container .blog-details-wrapper .blog-details .details .field input {
    @apply border-b w-[300px] mb-5 outline-none px-6 py-2
}

.new-post-container .blog-details-wrapper .blog-details .img-preview {
    @apply border w-full md:w-[35%] h-[200px] relative
}

.new-post-container .blog-details-wrapper .blog-details .img-preview img {
    @apply w-full h-full object-cover
}

.new-post-container .react-quill-editor {
    @apply max-w-[100%] max-h-[30vh] h-[30vh]
}

/* -------------- APPOINTMENT STYLE HERE ------------------ */

.appointment-container {
    /* @apply  */
}

.marquee {
    @apply w-[80%] mx-auto my-5
}

.appointment-container input#search {
    @apply border outline-none rounded-full w-[250px] h-[30px] px-3 mb-3
}

.appointment-container input#search::placeholder {
    @apply text-f10
}

.appointment-container table.appointment-table {
    @apply  w-full text-center 
}


.appointment-container table.appointment-table thead tr {
    @apply border 
}

.appointment-container table.appointment-table thead tr th {
    @apply p-3 
}


.appointment-container table.appointment-table tbody tr:nth-child(odd) {
    @apply bg-[#00000007]
}

.appointment-container table.appointment-table tbody tr td {
    @apply py-3 relative
}



.appointment-container table.appointment-table tbody tr td .read-message {
    @apply bg-[#fff] absolute z-50 min-h-[50px] max-w-[250px] rounded shadow-lg p-2 text-left
}

.appointment-container table.appointment-table tbody tr td .pending {
    @apply text-amber-300
}

.appointment-container table.appointment-table tbody tr td .marked {
    @apply text-green-300
}

.appoint-analytics-container {
    @apply flex flex-col md:flex-row items-center justify-between gap-5 md:gap-0
}

.appoint-analytics-container .analysis-wrapper {
    @apply w-full md:w-[30%] h-[100px] shadow-sm flex flex-col items-center gap-5 py-3 rounded-md
}

.appoint-analytics-container .analysis-wrapper:nth-child(1) {
    @apply bg-gradient-to-tr from-[#ee4f9e] to-[#cb70e7]
}

.appoint-analytics-container .analysis-wrapper:nth-child(2) {
    @apply bg-gradient-to-tr from-[#6c4fee] to-[#70e798]
}

.appoint-analytics-container .analysis-wrapper:nth-child(3) {
    @apply bg-gradient-to-tr from-[#ee4f4f] to-[#e5e770]
}

.appoint-analytics-container .analysis-wrapper h1, .appoint-analytics-container .analysis-wrapper h3 {
    @apply text-white
}

.appoint-analytics-container .analysis-wrapper h1 {
    @apply text-f16 md:text-f20 lg:text-f25 
}

.appoint-analytics-container .analysis-wrapper h3 {
    @apply md:text-f12 lg:text-f16
}